<h1> Evaluation Sessions </h1>
<table>
  <thead>
    <tr>
      <th> Name </th>
      <th> Description </th>
      <th> Item type </th>
    </tr>
  </thead>

  <tbody>
    <% @evaluation_sessions.each do |es| %>
    <tr>
      <td><%= link_to es.name, evaluation_session_path(es) %></td>
      <td><%= es.description %> </td>
      <td><%= es.item_type %> </td>
    </tr>
    <br>
    <% end %>
  </tbody>
</table>

<%= link_to "Create new evaluation session", new_evaluation_session_path, class: 'button' %>
